{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "endOfLine": "auto",
  "jsxBracket": false,
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }]
}